[submodule "src/cutf"]
	path = common/src/cutf
	url = https://github.com/enp1s0/cutf
[submodule "src/mateval"]
	path = common/src/mateval
	url = https://github.com/enp1s0/mateval
[submodule "src/matfile"]
	path = common/src/matfile
	url = https://github.com/enp1s0/matfile
[submodule "src/shgemm"]
	path = common/src/shgemm
	url = git@gitlab.momo86.net:mutsuki/shgemm.git
[submodule "src/curand_fp16"]
	path = common/src/curand_fp16
	url = https://github.com/enp1s0/curand_fp16
[submodule "common/src/cutt"]
	path = common/src/cutt
	url = https://github.com/enp1s0/cutt
