[submodule "src/cutf"]
	path = src/cutf
	url = https://github.com/enp1s0/cutf
[submodule "src/mateval"]
	path = src/mateval
	url = https://github.com/enp1s0/mateval
[submodule "src/matfile"]
	path = src/matfile
	url = https://github.com/enp1s0/matfile
[submodule "src/shgemm"]
	path = src/shgemm
	url = git@gitlab.momo86.net:mutsuki/shgemm.git
[submodule "src/curand_fp16"]
	path = src/curand_fp16
	url = https://github.com/enp1s0/curand_fp16
